:root {
  --bs-font-sans-serif: 'Dosis', sans-serif;
}

.container-xxl {
  max-width: 1530px;
}

body {
  background-image: url("/img/bgicons.avif");
  background-color: rgb(243, 243, 243);
}

a {
  color: var(--bs-dark);
}

/* Category Card */
.category_Link {
  text-align: center;
  display: block;
  text-decoration: none;
  transition: 250ms all;
}

.category_Link:hover {
  transform: scale(1.1);
}

.category_img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
  overflow: hidden;
  border-radius: 8px;
}

.category_img--large{
  height: 250px;
  width: 250px;
}

.category_img img {
  width: 100%;
  object-fit: cover;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#login-page body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-page h1 {
  text-align: center;
  margin-bottom: 30px;
}

#login-page .card {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#login-page .form-group {
  margin-bottom: 15px;
}

#login-page .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#login-page .form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#login-page .submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #472dbb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login-page .submit-btn:hover {
  background-color: #4565a0;
}

#login-page p {
  margin-top: 15px;
}
